{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ABOUT</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">

</head>
<body>

    <img id="banner" src="{% static 'about/img/about.jpg'  %}" alt="">

    <div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/matakuliah/">Data MK</a></li>
            <li><a href="/mahasiswa/">Mahasiswa</a></li>
        </ul>
    </div>

    <div class="container">
        <br>
        <div class="alert alert-success" style="padding-top: 30px; padding-bottom: 30px;">
            <center>
                <h3>Anggota Kelompok</h3>
                <hr class="my-4" style="width: 30%;">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>|</th>
                        <th>NIM</th>
                    </tr>
                    <tr>
                        <td>Kukuh Imanura Bagaskara</td>
                        <td>|</td>
                        <td>211001019</td>
                    </tr>
                    <tr>
                        <td>Jelita Trisyawidia</td>
                        <td>|</td>
                        <td>211001015</td>
                    </tr>
                    <tr>
                        <td>Radimas Audisyah Rahmana</td>
                        <td>|</td>
                        <td>211001011</td>
                    </tr>
                    <tr>
                        <td>Rally Raymanda</td>
                        <td>|</td>
                        <td>211001012</td>
                    </tr>
                </table>
            </center>
        </div>
        <br>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-dark">Copyright 2022</span>
        </div>
    </footer>

    <script src="{% static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript"></script>
    
</body>
</html>